<html>
    <head>
        <title>{% block title 'Admin' %}</title> {# équivalent à  {%block title %}Admin{% endbloc %} #}
    </head>
    <body>
        <h1>{{ block('title') }}</h1>
        <div class="content">
            {% block content %} {% endblock%}
    </body>
</html>
